<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm fixed-top  navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="UserAction" asp-action="Index">User action</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            @*<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">*@
            <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block sidebar">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">

                            <a class="nav-link text-dark active " asp-area="" asp-controller="Bha"
                               asp-action="Create">


                                <span> BASELINE</span>
                            </a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link text-dark" asp-area="" asp-controller="FKMAMAKWANZA"
                               asp-action="Create">
                                <span data-feather="file"></span>
                                MOTHER
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FKMTOTOKWANZA"
                               asp-action="Create">
                                <span data-feather="file"></span>
                                INFANT
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FKBABAKWANZA"
                               asp-action="Create">
                                <span data-feather="file"></span>
                                FATHER
                            </a>
                        </li>


                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center
                        px-3 mt-4 mb-1 text-muted">
                        <span>Infant follow up</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FTMTOTOTATU"
                               asp-action="Create">
                                <span data-feather="file"></span>
                                3 Months
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FSMTOTOSITA"
                               asp-action="Create">
                                <span data-feather="file"></span>
                                6 Months
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FTISAMTOTOTISA"
                               asp-action="Create">
                                <span data-feather="file"></span>
                                9 Months
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FKMMTOTOMBILI"
                               asp-action="Create">
                                <span data-feather="file"></span>
                                12 Months
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="F12_24MTOTO12"
                               asp-action="Create">
                                <span data-feather="file"></span>
                                12-24 Months
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="F28_44MTOTO28"
                               asp-action="Create">
                                <span data-feather="file"></span>
                                28, 32, 36, 40 & 44  Months
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="F48MTOTO48"
                               asp-action="Create">
                                <span data-feather="file"></span>
                                48 (4 YEARS) Months
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>

            @*<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">*@
            <main role="main" class="col-md-10 ml-sm-auto px-md-4 pos_left">


                @RenderBody()





            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BHAMCApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
