@model BHAMCApp.Models.FKMAMA

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_BhMama.cshtml";
}


<div class="row">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>
<form asp-action="Create">
    <div class="row text-white justify-content-between jumbodm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12">
            <p class="text-center text-info">FOMU YA MAMA  </p>
        </div>
        <div class="col-md-12">
            <p class="text-center text-info">MWEZI WA KWANZA BAADA YA KUJIFUNGUA</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="IDNumber" class="control-label"></label>
                    <input asp-for="IDNumber" class="form-control" id="nname" />
                    <span asp-validation-for="IDNumber" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <label asp-for="Q1" class="control-label"></label>
            <select asp-for="Q1" class="form-control" id="nQ1"
                    asp-items="Html.GetEnumSelectList<EFMK1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q1" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nOthersQ1">
            <label asp-for="OthersQ1" class="control-label"></label>
            <input asp-for="OthersQ1" class="form-control" />
            <span asp-validation-for="OthersQ1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q2" class="control-label"></label>
            <select asp-for="Q2" id="nQ4" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMK2>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q2" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q3" class="control-label"></label>
            <select asp-for="Q3" id="nQ4" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMK2>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q3" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q4" class="control-label"></label>
            <select asp-for="Q4" class="form-control" id="nQ4"
                    asp-items="Html.GetEnumSelectList<EFMK2>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q4" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nItajeQ4">
            <label asp-for="ItajeQ4" class="control-label"></label>
            <input asp-for="ItajeQ4" class="form-control" />
            <span asp-validation-for="ItajeQ4" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q5" class="control-label"></label>
            <select asp-for="Q5"  class="form-control" id="nQ5"
                    asp-items="Html.GetEnumSelectList<EFMK5>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q5" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nQ5_1">
            <label asp-for="Q5_1" class="control-label"></label>
            <input asp-for="Q5_1" class="form-control" />
            <span asp-validation-for="Q5_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q6" class="control-label"></label>
            <select asp-for="Q6" id="nQ4" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMK2>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q6" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q7" class="control-label"></label>
            <select asp-for="Q7" id="nQ4" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMK7>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q7" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q8" class="control-label"></label>
            <select asp-for="Q8" id="nQ4" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMK8>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q8" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q9" class="control-label"></label>
            <input asp-for="Q9" class="form-control" />
            <span asp-validation-for="Q9" class="text-danger"></span>
        </div>
        @*PHYSICAL EXAMINATION*@
        <div class="col-md-12">
            <p class="text-info">
                PHYSICAL EXAMINATION
            </p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q10" class="control-label"></label>
                    <input asp-for="Q10" class="form-control" />
                    <span asp-validation-for="Q10" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q11" class="control-label"></label>
                    <input asp-for="Q11" class="form-control" />
                    <span asp-validation-for="Q11" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q12" class="control-label"></label>
                    <input asp-for="Q12" class="form-control" />
                    <span asp-validation-for="Q12" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13" class="control-label"></label>
                    <select asp-for="Q13" id="nQ4" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMK13>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14" class="control-label"></label>
                    <select asp-for="Q14" id="nQ4" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMK14>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q14" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="Q15" class="control-label"></label>
                    <select asp-for="Q15" id="nQ4" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMK2>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q16" class="control-label"></label>
                    <select asp-for="Q16" id="nQ4" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMK2>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q16" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q17" class="control-label"></label>
                    <select asp-for="Q17" id="nQ4" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMK17>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q17" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q18" class="control-label"></label>
                    <select asp-for="Q18" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMK18>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q18" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="Q19" class="control-label"></label>
                    <select asp-for="Q19" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMK19>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q19" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q20" class="control-label"></label>
                    <select asp-for="Q20" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMK20>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q20" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q21" class="control-label"></label>
                    <select asp-for="Q21" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMK21>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q21" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="Q22" class="control-label"></label>
                    <select asp-for="Q22" id="nQ4" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMK22>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q22" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q23" class="control-label"></label>
                    <input asp-for="Q23" class="form-control" />
                    <span asp-validation-for="Q23" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="ProblemsDiagnosis" class="control-label"></label>
                    <input asp-for="ProblemsDiagnosis" class="form-control" />
                    <span asp-validation-for="ProblemsDiagnosis" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="ManagementFK" class="control-label"></label>
                    <input asp-for="ManagementFK" class="form-control" />
                    <span asp-validation-for="ManagementFK" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="DateVisit3" class="control-label"></label>
                    <input asp-for="DateVisit3" class="form-control" />
                    <span asp-validation-for="DateVisit3" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <input type="submit" value="Save" class="btn btn-bh" />
                    </div>
                    <div class="col-md-3">
                    <a asp-action="Create" class="btn btn-bh">Cancel</a>
                    </div>

                </div>

            </div>

        </div>


    </div>
</form>
   

<div class="row justify-content-center">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

    document.getElementById('nname').focus();
        
    //Q1

    $(document).on("change", "#nQ1", function () {
        if ($(this).val() == '6') {

            $("#nOthersQ1").removeClass('collapse');
            $("#nOthersQ1").addClass('text-info');
           }
        else {
            $("#nOthersQ1").addClass('collapse');
            $("#nOthersQ1").removeClass('text-info');

            }
    });

    //Q4    

    $(document).on("change", "#nQ4", function () {
        if ($(this).val() == '1') {

            $("#nItajeQ4").removeClass('collapse');
            $("#nItajeQ4").addClass('text-info');
        }
        else {
            $("#nItajeQ4").addClass('collapse');
            $("#nItajeQ4").removeClass('text-info');
            $('#nItajeQ4').val('');
        }
    });

    //Q5
    $(document).on("change", "#nQ5", function () {
        if ($(this).val() == '4') {

            $("#nQ5_1").removeClass('collapse');
            $("#nQ5_1").addClass('text-info');
        }
        else {
            $("#nQ5_1").addClass('collapse');
            $("#nQ5_1").removeClass('text-info');
            $('#nQ5_1').val('');
        }
    });

    


</script>
}
