@model BHAMCApp.Models.FKBABA

@{
    ViewData["Title"] = "Create";
}

<div class="row text-muted">
    <h5>Form Baba</h5>
</div>
<div class="row">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>
<form asp-action="Create">
    <div class="row text-white justify-content-between jumbodm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12">
            <p class="text-center text-info">FOMU YA BABA  </p>
        </div>
        <div class="col-md-12">
            <p class="text-center text-info">MARUDIO MWEZI WA TATU NA WA TISA</p>
        </div>
        <div class="col-md-3">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="IDNumber" class="control-label"></label>
            <input asp-for="IDNumber" class="form-control" />
            <span asp-validation-for="IDNumber" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q1" class="control-label"></label>
            <select asp-for="Q1" class="form-control"></select>
            <span asp-validation-for="Q1" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q1_1" class="control-label"></label>
            <input asp-for="Q1_1" class="form-control" />
            <span asp-validation-for="Q1_1" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q2" class="control-label"></label>
            <select asp-for="Q2" class="form-control"></select>
            <span asp-validation-for="Q2" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q2_1" class="control-label"></label>
            <input asp-for="Q2_1" class="form-control" />
            <span asp-validation-for="Q2_1" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q3" class="control-label"></label>
            <select asp-for="Q3" class="form-control"></select>
            <span asp-validation-for="Q3" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q4" class="control-label"></label>
            <select asp-for="Q4" class="form-control"></select>
            <span asp-validation-for="Q4" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q5" class="control-label"></label>
            <input asp-for="Q5" class="form-control" />
            <span asp-validation-for="Q5" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q6" class="control-label"></label>
            <select asp-for="Q6" class="form-control"></select>
            <span asp-validation-for="Q6" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q7" class="control-label"></label>
            <select asp-for="Q7" class="form-control"></select>
            <span asp-validation-for="Q7" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q8" class="control-label"></label>
            <input asp-for="Q8" class="form-control" />
            <span asp-validation-for="Q8" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q9" class="control-label"></label>
            <input asp-for="Q9" class="form-control" />
            <span asp-validation-for="Q9" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q10_1" class="control-label"></label>
            <select asp-for="Q10_1" class="form-control"></select>
            <span asp-validation-for="Q10_1" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q10_2" class="control-label"></label>
            <select asp-for="Q10_2" class="form-control"></select>
            <span asp-validation-for="Q10_2" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q10_3" class="control-label"></label>
            <select asp-for="Q10_3" class="form-control"></select>
            <span asp-validation-for="Q10_3" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q10_4" class="control-label"></label>
            <select asp-for="Q10_4" class="form-control"></select>
            <span asp-validation-for="Q10_4" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="ProblemsDiagnosis" class="control-label"></label>
            <input asp-for="ProblemsDiagnosis" class="form-control" />
            <span asp-validation-for="ProblemsDiagnosis" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="ManagementFT" class="control-label"></label>
            <input asp-for="ManagementFT" class="form-control" />
            <span asp-validation-for="ManagementFT" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="DateFollowup" class="control-label"></label>
            <input asp-for="DateFollowup" class="form-control" />
            <span asp-validation-for="DateFollowup" class="text-danger"></span>
        </div>
        @*<div class="col-md-3">
            <label asp-for="CreatedByUser" class="control-label"></label>
            <input asp-for="CreatedByUser" class="form-control" />
            <span asp-validation-for="CreatedByUser" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="ModifiedByUser" class="control-label"></label>
            <input asp-for="ModifiedByUser" class="form-control" />
            <span asp-validation-for="ModifiedByUser" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="ModifiedDate" class="control-label"></label>
            <input asp-for="ModifiedDate" class="form-control" />
            <span asp-validation-for="ModifiedDate" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Edited" /> @Html.DisplayNameFor(model => model.Edited)
            </label>
        </div>*@
        <div class="col-md-3">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>
   

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
