@model BHAMCApp.Models.FKMTOTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_BhMtoto.cshtml";
}


<div class="row">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>
<form asp-action="Create">
    <div class="row text-white justify-content-between jumbodm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<input type="hidden" asp-for="ID" />*@
        <div class="col-md-12">
            <p class="text-center text-info">FOMU YA MTOTO </p>
        </div>
        <div class="col-md-12">
            <p class="text-center text-info">MWEZI WA KWANZA BAADA YA KUZALIWA</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <label asp-for="IDNumber" class="control-label"></label>
                    <input asp-for="IDNumber" class="form-control" id="nname" />
                    <span asp-validation-for="IDNumber" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Tarehe" class="control-label"></label>
                    <input asp-for="Tarehe" class="form-control" />
                    <span asp-validation-for="Tarehe" class="text-danger"></span>
                </div>

                <div class="col-md-2">
                    <label asp-for="SexMt" class="control-label"></label>
                    <select asp-for="SexMt" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMTKSex>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="SexMt" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="TareheKuzaliwa" class="control-label"></label>
                    <input asp-for="TareheKuzaliwa" class="form-control" />
                    <span asp-validation-for="TareheKuzaliwa" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="UmriMtotoMiezi" class="control-label"></label>
                    <input asp-for="UmriMtotoMiezi" class="form-control" />
                    <span asp-validation-for="UmriMtotoMiezi" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <label asp-for="Q1" class="control-label"></label>
                    @*<select asp-for="Q1" class="form-control"></select>*@
                    <select asp-for="Q1" class="form-control" id="nQ1"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q1" class="text-danger"></span>
                </div>
                <div class="col-md-7 collapse" id="nQ1_a">
                    <label asp-for="Q1_a" class="control-label"></label>
                    <input asp-for="Q1_a" class="form-control" id="nQ1_aa" />
                    <span asp-validation-for="Q1_a" class="text-danger"></span>
                </div>
                <div class="col-md-5 collapse" id="nQ1_b">
                    <label asp-for="Q1_b" class="control-label"></label>
                    <select asp-for="Q1_b" class="form-control" id="nQ1_bb"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q1_b" class="text-danger"></span>
                </div>
                <div class="col-md-7 collapse" id="nQ1_c">
                    <label asp-for="Q1_c" class="control-label"></label>
                    <select asp-for="Q1_c" class="form-control" id="nQ1_cc"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q1_c" class="text-danger"></span>
                </div>
                <div class="col-md-3 collapse" id="nQ2">
                    <label asp-for="Q2" class="control-label"></label>
                    <input asp-for="Q2" class="form-control" />
                    <span asp-validation-for="Q2" class="text-danger"></span>
                </div>
                <div class="col-md-6 collapse" id="nQ3">
                    <label asp-for="Q3" class="control-label"></label>
                    <select asp-for="Q3" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q3" class="text-danger"></span>
                </div>
                <div class="col-md-3 collapse" id="nQ3_a">
                    <label asp-for="Q3_a" class="control-label"></label>
                    <input asp-for="Q3_a" class="form-control" />
                    <span asp-validation-for="Q3_a" class="text-danger"></span>
                </div>
                <div class="col-md-3 collapse" id="nQ3_b">
                    <label asp-for="Q3_b" class="control-label"></label>
                    <input asp-for="Q3_b" class="form-control" />
                    <span asp-validation-for="Q3_b" class="text-danger"></span>
                </div>

                <div class="col-md-9 collapse" id="nQ4">
                    <label asp-for="Q4" class="control-label"></label>
                    <select asp-for="Q4" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q4" class="text-danger"></span>
                </div>
            </div>
        </div>

        @*5.Aina ya vyakula anavyopewa*@


        <div class="col-md-12 " id="nQ5">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">5.Aina ya vyakula anavyopewa</p>
                </div>
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="Q5_1_a" class="control-label"></label>
                            <input asp-for="Q5_1_a" class="form-control" id="nQ5_1_a" />
                            <span asp-validation-for="Q5_1_a" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Q5_1_b" class="control-label"></label>
                            <input asp-for="Q5_1_b" class="form-control" />
                            <span asp-validation-for="Q5_1_b" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Q5_1_c" class="control-label"></label>
                            <select asp-for="Q5_1_c" class="form-control"
                                    asp-items="Html.GetEnumSelectList<EFMOK5>()">
                                <option selected="selected" value=""></option>
                            </select>
                            <span asp-validation-for="Q5_1_c" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Q5_1_e" class="control-label"></label>
                            <input asp-for="Q5_1_e" class="form-control" />
                            <span asp-validation-for="Q5_1_e" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="Q5_2_a" class="control-label"></label>
                            <input asp-for="Q5_2_a" class="form-control" />
                            <span asp-validation-for="Q5_2_a" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Q5_2_b" class="control-label"></label>
                            <input asp-for="Q5_2_b" class="form-control" />
                            <span asp-validation-for="Q5_2_b" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Q5_2_c" class="control-label"></label>
                            <select asp-for="Q5_2_c" class="form-control"
                                    asp-items="Html.GetEnumSelectList<EFMOK5>()">
                                <option selected="selected" value=""></option>
                            </select>
                            <span asp-validation-for="Q5_2_c" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Q5_2_e" class="control-label"></label>
                            <input asp-for="Q5_2_e" class="form-control" />
                            <span asp-validation-for="Q5_2_e" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="Q5_3_a" class="control-label"></label>
                            <input asp-for="Q5_3_a" class="form-control" />
                            <span asp-validation-for="Q5_3_a" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Q5_3_b" class="control-label"></label>
                            <input asp-for="Q5_3_b" class="form-control" />
                            <span asp-validation-for="Q5_3_b" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Q5_3_c" class="control-label"></label>
                            <select asp-for="Q5_3_c" class="form-control"
                                    asp-items="Html.GetEnumSelectList<EFMOK5>()">
                                <option selected="selected" value=""></option>
                            </select>
                            <span asp-validation-for="Q5_3_c" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Q5_3_e" class="control-label"></label>
                            <input asp-for="Q5_3_e" class="form-control" />
                            <span asp-validation-for="Q5_3_e" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="Q5_4_a" class="control-label"></label>
                            <input asp-for="Q5_4_a" class="form-control" />
                            <span asp-validation-for="Q5_4_a" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Q5_4_b" class="control-label"></label>
                            <input asp-for="Q5_4_b" class="form-control" />
                            <span asp-validation-for="Q5_4_b" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Q5_4_c" class="control-label"></label>
                            <select asp-for="Q5_4_c" class="form-control"
                                    asp-items="Html.GetEnumSelectList<EFMOK5>()">
                                <option selected="selected" value=""></option>
                            </select>
                            <span asp-validation-for="Q5_4_c" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Q5_4_e" class="control-label"></label>
                            <input asp-for="Q5_4_e" class="form-control" />
                            <span asp-validation-for="Q5_4_e" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="Q5_5_a" class="control-label"></label>
                            <input asp-for="Q5_5_a" class="form-control" />
                            <span asp-validation-for="Q5_5_a" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Q5_5_b" class="control-label"></label>
                            <input asp-for="Q5_5_b" class="form-control" />
                            <span asp-validation-for="Q5_5_b" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Q5_5_c" class="control-label"></label>
                            <select asp-for="Q5_5_c" class="form-control"
                                    asp-items="Html.GetEnumSelectList<EFMOK5>()">
                                <option selected="selected" value=""></option>
                            </select>
                            <span asp-validation-for="Q5_5_c" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Q5_5_e" class="control-label"></label>
                            <input asp-for="Q5_5_e" class="form-control" />
                            <span asp-validation-for="Q5_5_e" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <label asp-for="Q6" class="control-label"></label>
                    <select asp-for="Q6" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK6>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q6" class="text-danger"></span>
                </div>
            </div>
        </div>
        @*Q7.Je mtoto ameshapata matatizo haya yafuatayo tangu ulipokuja kliniki kwa mara ya mwisho?*@
        <div class="col-md-12">
            <p class="text-info">Q7.Je mtoto ameshapata matatizo haya yafuatayo tangu ulipokuja kliniki kwa mara ya mwisho?</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <label asp-for="Q7_1" class="control-label"></label>
                    <select asp-for="Q7_1" class="form-control" id="nQ7_1"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_1" class="text-danger"></span>
                </div>
                <div class="col-md-2 collapse" id="nQ7_1_a">
                    <label asp-for="Q7_1_a" class="control-label"></label>
                    <select asp-for="Q7_1_a" class="form-control" id="nQ7_1_aa"
                            asp-items="Html.GetEnumSelectList<EFMOK7>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_1_a" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <label asp-for="Q7_2" class="control-label"></label>
                    <select asp-for="Q7_2" class="form-control" id="nQ7_2"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_2" class="text-danger"></span>
                </div>
                <div class="col-md-2 collapse" id="nQ7_2_a">
                    <label asp-for="Q7_2_a" class="control-label"></label>
                    <select asp-for="Q7_2_a" class="form-control" id="nQ7_2_aa"
                            asp-items="Html.GetEnumSelectList<EFMOK7>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_2_a" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <label asp-for="Q7_3" class="control-label"></label>
                    <select asp-for="Q7_3" class="form-control" id="nQ7_3"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_3" class="text-danger"></span>
                </div>
                <div class="col-md-2 collapse" id="nQ7_3_a">
                    <label asp-for="Q7_3_a" class="control-label"></label>
                    <select asp-for="Q7_3_a" class="form-control" id="nQ7_3_aa"
                            asp-items="Html.GetEnumSelectList<EFMOK7>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_3_a" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <label asp-for="Q7_4" class="control-label"></label>
                    <select asp-for="Q7_4" class="form-control" id="nQ7_4"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_4" class="text-danger"></span>
                </div>
                <div class="col-md-2 collapse" id="nQ7_4_a">
                    <label asp-for="Q7_4_a" class="control-label"></label>
                    <select asp-for="Q7_4_a" class="form-control" id="nQ7_4_aa"
                            asp-items="Html.GetEnumSelectList<EFMOK7>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_4_a" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <label asp-for="Q7_5" class="control-label"></label>
                    <select asp-for="Q7_5" class="form-control" id="nQ7_5"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_5" class="text-danger"></span>
                </div>
                <div class="col-md-2 collapse" id="nQ7_5_a">
                    <label asp-for="Q7_5_a" class="control-label"></label>
                    <select asp-for="Q7_5_a" class="form-control" id="nQ7_5_aa"
                            asp-items="Html.GetEnumSelectList<EFMOK7>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_5_a" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <label asp-for="Q7_6" class="control-label"></label>
                    <select asp-for="Q7_6" class="form-control" id="nQ7_6"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_6" class="text-danger"></span>
                </div>
                <div class="col-md-2 collapse" id="nQ7_6_a">
                    <label asp-for="Q7_6_a" class="control-label"></label>
                    <select asp-for="Q7_6_a" class="form-control" id="nQ7_6_aa"
                            asp-items="Html.GetEnumSelectList<EFMOK7>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_6_a" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <label asp-for="Q7_7" class="control-label"></label>
                    <select asp-for="Q7_7" class="form-control" id="nQ7_7"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_7" class="text-danger"></span>
                </div>
                <div class="col-md-2 collapse" id="nQ7_7_a">
                    <label asp-for="Q7_7_a" class="control-label"></label>
                    <select asp-for="Q7_7_a" class="form-control" id="nQ7_7_aa"
                            asp-items="Html.GetEnumSelectList<EFMOK7>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_7_a" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <label asp-for="Q7_8" class="control-label"></label>
                    <input asp-for="Q7_8" class="form-control" id="nQ7_8" />
                    <span asp-validation-for="Q7_8" class="text-danger"></span>
                </div>
                <div class="col-md-2 collapse" id="nQ7_8_a">
                    <label asp-for="Q7_8_a" class="control-label"></label>
                    <select asp-for="Q7_8_a" class="form-control" id="nQ7_8_aa"
                            asp-items="Html.GetEnumSelectList<EFMOK7>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7_8_a" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <label asp-for="Q8" class="control-label"></label>
            <select asp-for="Q8" class="form-control" id="nQ8"
                    asp-items="Html.GetEnumSelectList<EFMOK1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q8" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nQ8_1">
            <label asp-for="Q8_1" class="control-label"></label>
            <input asp-for="Q8_1" class="form-control" />
            <span asp-validation-for="Q8_1" class="text-danger"></span>
        </div>
        <div class="col-md-9">
            <label asp-for="Q9" class="control-label"></label>
            <select asp-for="Q9" class="form-control" id="nQ9"
                    asp-items="Html.GetEnumSelectList<EFMOK9>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q9" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nQ9_1">
            <label asp-for="Q9_1" class="control-label"></label>
            <input asp-for="Q9_1" class="form-control" />
            <span asp-validation-for="Q9_1" class="text-danger"></span>
        </div>

        @*INFANT EXAMINATION FORM : At 4 weeks*@

        <div class="col-md-12">
            <p class="text-info">INFANT EXAMINATION FORM : At 4 weeks</p>
        </div>
        <div class="col-md-12">
            <p class="text-info">1. General</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <label asp-for="Q10_a" class="control-label"></label>
                    <select asp-for="Q10_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q10_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q10_b" class="control-label"></label>
                    <select asp-for="Q10_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q10_b" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="Q10_c" class="control-label"></label>
                    <select asp-for="Q10_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q10_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q10_d" class="control-label"></label>
                    <select asp-for="Q10_d" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q10_d" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="Q10_e" class="control-label"></label>
                    <select asp-for="Q10_e" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q10_e" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">2. Lymphadenopathy</p>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q11_a" class="control-label"></label>
                    <select asp-for="Q11_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q11_a" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q11_b" class="control-label"></label>
                    <select asp-for="Q11_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q11_b" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q11_c" class="control-label"></label>
                    <select asp-for="Q11_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q11_c" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">3. Mouth</p>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q12_a" class="control-label"></label>
                    <select asp-for="Q12_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q12_a" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q12_b" class="control-label"></label>
                    <select asp-for="Q12_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q12_b" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <label asp-for="Q12_c" class="control-label"></label>
                    <select asp-for="Q12_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q12_c" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">4.Respiratory system</p>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_a" class="control-label"></label>
                    <select asp-for="Q13_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_b" class="control-label"></label>
                    <select asp-for="Q13_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_c" class="control-label"></label>
                    <select asp-for="Q13_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_d" class="control-label"></label>
                    <select asp-for="Q13_d" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_d" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_e" class="control-label"></label>
                    <select asp-for="Q13_e" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_e" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_f" class="control-label"></label>
                    <select asp-for="Q13_f" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_f" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">5. Gastro-intestinal Tract</p>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q14_a" class="control-label"></label>
                    <select asp-for="Q14_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q14_a" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q14_b" class="control-label"></label>
                    <select asp-for="Q14_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q14_b" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q14_c" class="control-label"></label>
                    <select asp-for="Q14_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q14_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14_d" class="control-label"></label>
                    <select asp-for="Q14_d" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q14_d" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14_e" class="control-label"></label>
                    <input asp-for="Q14_e" class="form-control" />
                    <span asp-validation-for="Q14_e" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14_f" class="control-label"></label>
                    <input asp-for="Q14_f" class="form-control" />
                    <span asp-validation-for="Q14_f" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14_g" class="control-label"></label>
                    <input asp-for="Q14_g" class="form-control" />
                    <span asp-validation-for="Q14_g" class="text-danger"></span>
                </div>
            </div>
        </div>
        @*6. Early Triad Assessment / Neurological Status*@

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">a. Palate</p>
                </div>
                <div class="col-md-6">
                    <label asp-for="Q15_a" class="control-label"></label>
                    <select asp-for="Q15_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15_a" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Q15_b" class="control-label"></label>
                    <select asp-for="Q15_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15_b" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info"> b. Hands</p>
                </div>
                <div class="col-md-6">
                    <label asp-for="Q15_c" class="control-label"></label>
                    <select asp-for="Q15_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15_c" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Q15_d" class="control-label"></label>
                    <select asp-for="Q15_d" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15_d" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info"> c. Truncal tone</p>
                </div>
                <div class="col-md-2">
                    <label asp-for="Q15_e" class="control-label"></label>
                    <select asp-for="Q15_e" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15_e" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q15_f" class="control-label"></label>
                    <select asp-for="Q15_f" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15_f" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q15_g" class="control-label"></label>
                    <select asp-for="Q15_g" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15_g" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q15_h" class="control-label"></label>
                    <select asp-for="Q15_h" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15_h" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">7. Neurosensory</p>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q16_a" class="control-label"></label>
                    <select asp-for="Q16_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q16_a" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q16_b" class="control-label"></label>
                    <select asp-for="Q16_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q16_b" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q16_c" class="control-label"></label>
                    <select asp-for="Q16_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q16_c" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="ProblemsDsis" class="control-label"></label>
                    <input asp-for="ProblemsDsis" class="form-control" />
                    <span asp-validation-for="ProblemsDsis" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="MedicationPres" class="control-label"></label>
                    <input asp-for="MedicationPres" class="form-control" />
                    <span asp-validation-for="MedicationPres" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Date3Month" class="control-label"></label>
                    <input asp-for="Date3Month" class="form-control" />
                    <span asp-validation-for="Date3Month" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="submit" value="Save" class="btn btn-bh" />
                            </div>
                            <div class="col-md-3">
                                @*<input type="submit" value="Create" class="btn btn-bh" />*@
                                <a asp-action="Create" class="btn btn-bh">Cancel</a>
                            </div>

                        </div>

                    </div>

                </div>


            </div>


</form>


<div class="row justify-content-center">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">

    document.getElementById('nname').focus();

    
    //Q1

    $(document).on("change", "#nQ1", function () {
        if ($(this).val() == '1') {

            $("#nQ1_a").removeClass('collapse');
            $("#nQ1_a").addClass('text-info');
            

            $("#nQ1_b").removeClass('collapse');
            $("#nQ1_b").addClass('text-info');

            $("#nQ1_c").removeClass('collapse');
            $("#nQ1_c").addClass('text-info');

            $("#nQ3").removeClass('collapse');
            $("#nQ3").addClass('text-info');

            $("#nQ3_a").removeClass('collapse');
            $("#nQ3_a").addClass('text-info');

            $("#nQ3_b").removeClass('collapse');
            $("#nQ3_b").addClass('text-info');

            $("#nQ4").removeClass('collapse');
            $("#nQ4").addClass('text-info');

            //Q2
            $("#nQ2").addClass('collapse');
            $("#nQ2").removeClass('text-info');
            $('#nQ2').val('');
        }
        else {
            $("#nQ1_a").addClass('collapse');
            $("#nQ1_a").removeClass('text-info');
            $('#nQ1_a').val('');
            

            $("#nQ1_b").addClass('collapse');
            $("#nQ1_b").removeClass('text-info');
            $('#nQ1_b').val('');

            $("#nQ1_c").addClass('collapse');
            $("#nQ1_c").removeClass('text-info');
            $('#nQ1_c').val('');

            $("#nQ3").addClass('collapse');
            $("#nQ3").removeClass('text-info');
            $('#nQ3').val('');

            $("#nQ3_a").addClass('collapse');
            $("#nQ3_a").removeClass('text-info');
            $('#nQ3_a').val('');

            $("#nQ3_b").addClass('collapse');
            $("#nQ3_b").removeClass('text-info');
            $('#nQ3_b').val('');

            $("#nQ4").addClass('collapse');
            $("#nQ4").removeClass('text-info');
            $('#nQ4').val('');

            //Q2
            $("#nQ2").removeClass('collapse');
            $("#nQ2").addClass('text-info');
        }
    });
    //Q4
    $(document).on("change", "#nQ4", function () {
        if ($(this).val() == '1') {

            $("#nQ5").removeClass('collapse');
            $("#nQ5").addClass('text-info');
        }
        //else {
        //    $("#nQ5").addClass('collapse');
        //    $("#nQ5").removeClass('text-info');
            
        //}
    });
    //Q5 Aina
    document.getElementById('nQ5_1_a').value = "Ng'ombe";

    //Q7


    //Q7_1
    $(document).on("change", "#nQ7_1", function () {
        if ($(this).val() == '1') {

            $("#nQ7_1_a").removeClass('collapse');
            $("#nQ7_1_a").addClass('text-info');
        }
        else {
            $("#nQ7_1_a").addClass('collapse');
            $("#nQ7_1_a").removeClass('text-info');
            $('#nQ7_1_aa').val('');
    }
    });


    //Q7_2
    $(document).on("change", "#nQ7_2", function () {
        if ($(this).val() == '1') {

            $("#nQ7_2_a").removeClass('collapse');
            $("#nQ7_2_a").addClass('text-info');
        }
        else {
            $("#nQ7_2_a").addClass('collapse');
            $("#nQ7_2_a").removeClass('text-info');
            $('#nQ7_2_aa').val('');
        }
    });


    //Q7_3
    $(document).on("change", "#nQ7_3", function () {
        if ($(this).val() == '1') {

            $("#nQ7_3_a").removeClass('collapse');
            $("#nQ7_3_a").addClass('text-info');
        }
        else {
            $("#nQ7_3_a").addClass('collapse');
            $("#nQ7_3_a").removeClass('text-info');
            $('#nQ7_3_aa').val('');
        }
    });


    //Q7_4
    $(document).on("change", "#nQ7_4", function () {
        if ($(this).val() == '1') {

            $("#nQ7_4_a").removeClass('collapse');
            $("#nQ7_4_a").addClass('text-info');
        }
        else {
            $("#nQ7_4_a").addClass('collapse');
            $("#nQ7_4_a").removeClass('text-info');
            $('#nQ7_4_aa').val('');
        }
    });

    $(document).on("change", "#nQ7_5", function () {
        if ($(this).val() == '1') {

            $("#nQ7_5_a").removeClass('collapse');
            $("#nQ7_5_a").addClass('text-info');
        }
        else {
            $("#nQ7_5_a").addClass('collapse');
            $("#nQ7_5_a").removeClass('text-info');
            $('#nQ7_5_aa').val('');
        }
    });

    $(document).on("change", "#nQ7_6", function () {
        if ($(this).val() == '1') {

            $("#nQ7_6_a").removeClass('collapse');
            $("#nQ7_6_a").addClass('text-info');
        }
        else {
            $("#nQ7_6_a").addClass('collapse');
            $("#nQ7_6_a").removeClass('text-info');
            $('#nQ7_6_aa').val('');
        }
    });

    $(document).on("change", "#nQ7_7", function () {
        if ($(this).val() == '1') {

            $("#nQ7_7_a").removeClass('collapse');
            $("#nQ7_7_a").addClass('text-info');
        }
        else {
            $("#nQ7_7_a").addClass('collapse');
            $("#nQ7_7_a").removeClass('text-info');
            $('#nQ7_7_aa').val('');
        }
    });

    //Q8
    $(document).on("change", "#nQ8", function () {
        if ($(this).val() == '1') {

            $("#nQ8_1").removeClass('collapse');
            $("#nQ8_1").addClass('text-info');
        }
        else {
            $("#nQ8_1").addClass('collapse');
            $("#nQ8_1").removeClass('text-info');
            $('#nQ8_1').val('');
        }
    });

    //Q9
    $(document).on("change", "#nQ9", function () {
        if ($(this).val() == '4') {

            $("#nQ9_1").removeClass('collapse');
            $("#nQ9_1").addClass('text-info');
        }
        else {
            $("#nQ9_1").addClass('collapse');
            $("#nQ9_1").removeClass('text-info');
            $('#nQ9_1').val('');
        }
    });
 </script>
}
