@model BHAMCApp.Models.FKMTOTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FKMTOTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tarehe" class="control-label"></label>
                <input asp-for="Tarehe" class="form-control" />
                <span asp-validation-for="Tarehe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDNumber" class="control-label"></label>
                <input asp-for="IDNumber" class="form-control" />
                <span asp-validation-for="IDNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexMt" class="control-label"></label>
                <select asp-for="SexMt" class="form-control"></select>
                <span asp-validation-for="SexMt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TareheKuzaliwa" class="control-label"></label>
                <input asp-for="TareheKuzaliwa" class="form-control" />
                <span asp-validation-for="TareheKuzaliwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UmriMtotoMiezi" class="control-label"></label>
                <input asp-for="UmriMtotoMiezi" class="form-control" />
                <span asp-validation-for="UmriMtotoMiezi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q1" class="control-label"></label>
                <select asp-for="Q1" class="form-control"></select>
                <span asp-validation-for="Q1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q1_a" class="control-label"></label>
                <input asp-for="Q1_a" class="form-control" />
                <span asp-validation-for="Q1_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q1_b" class="control-label"></label>
                <select asp-for="Q1_b" class="form-control"></select>
                <span asp-validation-for="Q1_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q1_c" class="control-label"></label>
                <select asp-for="Q1_c" class="form-control"></select>
                <span asp-validation-for="Q1_c" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q2" class="control-label"></label>
                <input asp-for="Q2" class="form-control" />
                <span asp-validation-for="Q2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q3" class="control-label"></label>
                <select asp-for="Q3" class="form-control"></select>
                <span asp-validation-for="Q3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q3_a" class="control-label"></label>
                <input asp-for="Q3_a" class="form-control" />
                <span asp-validation-for="Q3_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q3_b" class="control-label"></label>
                <input asp-for="Q3_b" class="form-control" />
                <span asp-validation-for="Q3_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q4" class="control-label"></label>
                <select asp-for="Q4" class="form-control"></select>
                <span asp-validation-for="Q4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_1_a" class="control-label"></label>
                <input asp-for="Q5_1_a" class="form-control" />
                <span asp-validation-for="Q5_1_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_1_b" class="control-label"></label>
                <input asp-for="Q5_1_b" class="form-control" />
                <span asp-validation-for="Q5_1_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_1_c" class="control-label"></label>
                <input asp-for="Q5_1_c" class="form-control" />
                <span asp-validation-for="Q5_1_c" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Q5_1_e" class="control-label"></label>
                <input asp-for="Q5_1_e" class="form-control" />
                <span asp-validation-for="Q5_1_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_2_a" class="control-label"></label>
                <input asp-for="Q5_2_a" class="form-control" />
                <span asp-validation-for="Q5_2_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_2_b" class="control-label"></label>
                <input asp-for="Q5_2_b" class="form-control" />
                <span asp-validation-for="Q5_2_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_2_c" class="control-label"></label>
                <input asp-for="Q5_2_c" class="form-control" />
                <span asp-validation-for="Q5_2_c" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Q5_2_e" class="control-label"></label>
                <input asp-for="Q5_2_e" class="form-control" />
                <span asp-validation-for="Q5_2_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_3_a" class="control-label"></label>
                <input asp-for="Q5_3_a" class="form-control" />
                <span asp-validation-for="Q5_3_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_3_b" class="control-label"></label>
                <input asp-for="Q5_3_b" class="form-control" />
                <span asp-validation-for="Q5_3_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_3_c" class="control-label"></label>
                <input asp-for="Q5_3_c" class="form-control" />
                <span asp-validation-for="Q5_3_c" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Q5_3_e" class="control-label"></label>
                <input asp-for="Q5_3_e" class="form-control" />
                <span asp-validation-for="Q5_3_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_4_a" class="control-label"></label>
                <input asp-for="Q5_4_a" class="form-control" />
                <span asp-validation-for="Q5_4_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_4_b" class="control-label"></label>
                <input asp-for="Q5_4_b" class="form-control" />
                <span asp-validation-for="Q5_4_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_4_c" class="control-label"></label>
                <input asp-for="Q5_4_c" class="form-control" />
                <span asp-validation-for="Q5_4_c" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Q5_4_e" class="control-label"></label>
                <input asp-for="Q5_4_e" class="form-control" />
                <span asp-validation-for="Q5_4_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_5_a" class="control-label"></label>
                <input asp-for="Q5_5_a" class="form-control" />
                <span asp-validation-for="Q5_5_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_5_b" class="control-label"></label>
                <input asp-for="Q5_5_b" class="form-control" />
                <span asp-validation-for="Q5_5_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q5_5_c" class="control-label"></label>
                <input asp-for="Q5_5_c" class="form-control" />
                <span asp-validation-for="Q5_5_c" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Q5_5_e" class="control-label"></label>
                <input asp-for="Q5_5_e" class="form-control" />
                <span asp-validation-for="Q5_5_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q7_1" class="control-label"></label>
                <select asp-for="Q7_1" class="form-control"></select>
                <span asp-validation-for="Q7_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q7_1_a" class="control-label"></label>
                <input asp-for="Q7_1_a" class="form-control" />
                <span asp-validation-for="Q7_1_a" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Q7_2" class="control-label"></label>
                <select asp-for="Q7_2" class="form-control"></select>
                <span asp-validation-for="Q7_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q7_2_a" class="control-label"></label>
                <input asp-for="Q7_2_a" class="form-control" />
                <span asp-validation-for="Q7_2_a" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Q7_3" class="control-label"></label>
                <select asp-for="Q7_3" class="form-control"></select>
                <span asp-validation-for="Q7_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q7_3_a" class="control-label"></label>
                <input asp-for="Q7_3_a" class="form-control" />
                <span asp-validation-for="Q7_3_a" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Q7_4" class="control-label"></label>
                <select asp-for="Q7_4" class="form-control"></select>
                <span asp-validation-for="Q7_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q7_4_a" class="control-label"></label>
                <input asp-for="Q7_4_a" class="form-control" />
                <span asp-validation-for="Q7_4_a" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Q7_5" class="control-label"></label>
                <select asp-for="Q7_5" class="form-control"></select>
                <span asp-validation-for="Q7_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q7_5_a" class="control-label"></label>
                <input asp-for="Q7_5_a" class="form-control" />
                <span asp-validation-for="Q7_5_a" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Q7_6" class="control-label"></label>
                <select asp-for="Q7_6" class="form-control"></select>
                <span asp-validation-for="Q7_6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q7_6_a" class="control-label"></label>
                <input asp-for="Q7_6_a" class="form-control" />
                <span asp-validation-for="Q7_6_a" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Q7_7" class="control-label"></label>
                <select asp-for="Q7_7" class="form-control"></select>
                <span asp-validation-for="Q7_7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q7_7_a" class="control-label"></label>
                <input asp-for="Q7_7_a" class="form-control" />
                <span asp-validation-for="Q7_7_a" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Q7_8" class="control-label"></label>
                <input asp-for="Q7_8" class="form-control" />
                <span asp-validation-for="Q7_8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q7_8_a" class="control-label"></label>
                <input asp-for="Q7_8_a" class="form-control" />
                <span asp-validation-for="Q7_8_a" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Q8" class="control-label"></label>
                <select asp-for="Q8" class="form-control"></select>
                <span asp-validation-for="Q8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q8_1" class="control-label"></label>
                <input asp-for="Q8_1" class="form-control" />
                <span asp-validation-for="Q8_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q9" class="control-label"></label>
                <select asp-for="Q9" class="form-control"></select>
                <span asp-validation-for="Q9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q9_1" class="control-label"></label>
                <input asp-for="Q9_1" class="form-control" />
                <span asp-validation-for="Q9_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q10_a" class="control-label"></label>
                <select asp-for="Q10_a" class="form-control"></select>
                <span asp-validation-for="Q10_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q10_b" class="control-label"></label>
                <select asp-for="Q10_b" class="form-control"></select>
                <span asp-validation-for="Q10_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q10_c" class="control-label"></label>
                <select asp-for="Q10_c" class="form-control"></select>
                <span asp-validation-for="Q10_c" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q10_d" class="control-label"></label>
                <select asp-for="Q10_d" class="form-control"></select>
                <span asp-validation-for="Q10_d" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q10_e" class="control-label"></label>
                <select asp-for="Q10_e" class="form-control"></select>
                <span asp-validation-for="Q10_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q11_a" class="control-label"></label>
                <select asp-for="Q11_a" class="form-control"></select>
                <span asp-validation-for="Q11_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q11_b" class="control-label"></label>
                <select asp-for="Q11_b" class="form-control"></select>
                <span asp-validation-for="Q11_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q11_c" class="control-label"></label>
                <select asp-for="Q11_c" class="form-control"></select>
                <span asp-validation-for="Q11_c" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q12_a" class="control-label"></label>
                <select asp-for="Q12_a" class="form-control"></select>
                <span asp-validation-for="Q12_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q12_b" class="control-label"></label>
                <select asp-for="Q12_b" class="form-control"></select>
                <span asp-validation-for="Q12_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q12_c" class="control-label"></label>
                <select asp-for="Q12_c" class="form-control"></select>
                <span asp-validation-for="Q12_c" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q13_a" class="control-label"></label>
                <select asp-for="Q13_a" class="form-control"></select>
                <span asp-validation-for="Q13_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q13_b" class="control-label"></label>
                <select asp-for="Q13_b" class="form-control"></select>
                <span asp-validation-for="Q13_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q13_c" class="control-label"></label>
                <select asp-for="Q13_c" class="form-control"></select>
                <span asp-validation-for="Q13_c" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q13_d" class="control-label"></label>
                <select asp-for="Q13_d" class="form-control"></select>
                <span asp-validation-for="Q13_d" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q13_e" class="control-label"></label>
                <select asp-for="Q13_e" class="form-control"></select>
                <span asp-validation-for="Q13_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q13_f" class="control-label"></label>
                <select asp-for="Q13_f" class="form-control"></select>
                <span asp-validation-for="Q13_f" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q14_a" class="control-label"></label>
                <select asp-for="Q14_a" class="form-control"></select>
                <span asp-validation-for="Q14_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q14_b" class="control-label"></label>
                <select asp-for="Q14_b" class="form-control"></select>
                <span asp-validation-for="Q14_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q14_c" class="control-label"></label>
                <select asp-for="Q14_c" class="form-control"></select>
                <span asp-validation-for="Q14_c" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q14_d" class="control-label"></label>
                <select asp-for="Q14_d" class="form-control"></select>
                <span asp-validation-for="Q14_d" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q14_e" class="control-label"></label>
                <input asp-for="Q14_e" class="form-control" />
                <span asp-validation-for="Q14_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q14_f" class="control-label"></label>
                <input asp-for="Q14_f" class="form-control" />
                <span asp-validation-for="Q14_f" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q14_g" class="control-label"></label>
                <input asp-for="Q14_g" class="form-control" />
                <span asp-validation-for="Q14_g" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q15_a" class="control-label"></label>
                <select asp-for="Q15_a" class="form-control"></select>
                <span asp-validation-for="Q15_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q15_b" class="control-label"></label>
                <select asp-for="Q15_b" class="form-control"></select>
                <span asp-validation-for="Q15_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q15_c" class="control-label"></label>
                <select asp-for="Q15_c" class="form-control"></select>
                <span asp-validation-for="Q15_c" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q15_d" class="control-label"></label>
                <select asp-for="Q15_d" class="form-control"></select>
                <span asp-validation-for="Q15_d" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q15_e" class="control-label"></label>
                <select asp-for="Q15_e" class="form-control"></select>
                <span asp-validation-for="Q15_e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q15_f" class="control-label"></label>
                <select asp-for="Q15_f" class="form-control"></select>
                <span asp-validation-for="Q15_f" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q15_g" class="control-label"></label>
                <select asp-for="Q15_g" class="form-control"></select>
                <span asp-validation-for="Q15_g" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q15_h" class="control-label"></label>
                <select asp-for="Q15_h" class="form-control"></select>
                <span asp-validation-for="Q15_h" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q16_a" class="control-label"></label>
                <select asp-for="Q16_a" class="form-control"></select>
                <span asp-validation-for="Q16_a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q16_b" class="control-label"></label>
                <select asp-for="Q16_b" class="form-control"></select>
                <span asp-validation-for="Q16_b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q16_c" class="control-label"></label>
                <select asp-for="Q16_c" class="form-control"></select>
                <span asp-validation-for="Q16_c" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProblemsDsis" class="control-label"></label>
                <input asp-for="ProblemsDsis" class="form-control" />
                <span asp-validation-for="ProblemsDsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicationPres" class="control-label"></label>
                <input asp-for="MedicationPres" class="form-control" />
                <span asp-validation-for="MedicationPres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date3Month" class="control-label"></label>
                <input asp-for="Date3Month" class="form-control" />
                <span asp-validation-for="Date3Month" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CreatedByUser" class="control-label"></label>
                <input asp-for="CreatedByUser" class="form-control" />
                <span asp-validation-for="CreatedByUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedByUser" class="control-label"></label>
                <input asp-for="ModifiedByUser" class="form-control" />
                <span asp-validation-for="ModifiedByUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Edited" /> @Html.DisplayNameFor(model => model.Edited)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
