@model BHAMCApp.Models.FTISAMAMA

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_BhMama.cshtml";
}
<div class="row">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>

<form asp-action="Create">
    <div class="row text-white justify-content-between jumbodm">
        <div class="col-md-12">
            <p class="text-center text-info">FOMU YA MAMA  </p>
        </div>
        <div class="col-md-12">
            <p class="text-center text-info">MWEZI WA TISA BAADA YA KUJIFUNGUA</p>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="IDNumber" class="control-label"></label>
                    <input asp-for="IDNumber" class="form-control" id="nname" />
                    <span asp-validation-for="IDNumber" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <label asp-for="Q1" class="control-label"></label>
            <select asp-for="Q1" class="form-control" id="nQ1"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q1" class="text-danger"></span>
        </div>
        <div class="col-md-4 collapse" id="nQ1_1">
            <label asp-for="Q1_1" class="control-label"></label>
            <input asp-for="Q1_1" class="form-control" />
            <span asp-validation-for="Q1_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q2" class="control-label"></label>
            <select asp-for="Q2" class="form-control" id="nQ2"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q2" class="text-danger"></span>
        </div>
        <div class="col-md-4 collapse" id="nQ2_1">
            <label asp-for="Q2_1" class="control-label"></label>
            <input asp-for="Q2_1" class="form-control" />
            <span asp-validation-for="Q2_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q3" class="control-label"></label>
            <select asp-for="Q3" class="form-control" id="nQ3"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q3" class="text-danger"></span>
        </div>
        <div class="col-md-4 collapse" id="nQ3_1">
            <label asp-for="Q3_1" class="control-label"></label>
            <input asp-for="Q3_1" class="form-control" />
            <span asp-validation-for="Q3_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q4" class="control-label"></label>
            <select asp-for="Q4" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q4" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q5" class="control-label"></label>
            <select asp-for="Q5" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q5" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q6" class="control-label"></label>
            <select asp-for="Q6" class="form-control" id="nQ6"
                    asp-items="Html.GetEnumSelectList<EFMTISA6>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q6" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nQ6_1">
            <label asp-for="Q6_1" class="control-label"></label>
            <input asp-for="Q6_1" class="form-control" />
            <span asp-validation-for="Q6_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q7" class="control-label"></label>
            <select asp-for="Q7" class="form-control" id="nQ7"
                    asp-items="Html.GetEnumSelectList<EFMTISA8>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q7" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nQ7_1">
            <label asp-for="Q7_1" class="control-label"></label>
            <input asp-for="Q7_1" class="form-control" />
            <span asp-validation-for="Q7_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q8" class="control-label"></label>
            <select asp-for="Q8" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q8" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q9" class="control-label"></label>
            <input asp-for="Q9" class="form-control" />
            <span asp-validation-for="Q9" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q10" class="control-label"></label>
            <select asp-for="Q10" class="form-control" id="nQ10"
                    asp-items="Html.GetEnumSelectList<EFMTISA10>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q10" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nQ10_1">
            <label asp-for="Q10_1" class="control-label"></label>
            <input asp-for="Q10_1" class="form-control" />
            <span asp-validation-for="Q10_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q11" class="control-label"></label>
            <select asp-for="Q11" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA11>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q11" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q12" class="control-label"></label>
            <select asp-for="Q12" class="form-control" id="nQ12"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q12" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nQ12_1">
            <label asp-for="Q12_1" class="control-label"></label>
            <input asp-for="Q12_1" class="form-control" />
            <span asp-validation-for="Q12_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q13" class="control-label"></label>
            <input asp-for="Q13" class="form-control" />
            <span asp-validation-for="Q13" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q14" class="control-label"></label>
            <input asp-for="Q14" class="form-control" />
            <span asp-validation-for="Q14" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q15" class="control-label"></label>
            <select asp-for="Q15" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA17>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q15" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q16" class="control-label"></label>
            <select asp-for="Q16" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q16" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q17" class="control-label"></label>
            <select asp-for="Q17" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA17>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q17" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q18" class="control-label"></label>
            <select asp-for="Q18" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA18>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q18" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q19" class="control-label"></label>
            <select asp-for="Q19" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA19>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q19" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q20" class="control-label"></label>
            <select asp-for="Q20" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA20>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q20" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q21" class="control-label"></label>
            <select asp-for="Q21" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA21>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q21" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q22" class="control-label"></label>
            <select asp-for="Q22" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA22>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q22" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q23" class="control-label"></label>
            <select asp-for="Q23" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA23>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q23" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Q24" class="control-label"></label>
            <select asp-for="Q24" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA24>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q24" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="ProblemsDiagnosis" class="control-label"></label>
            <input asp-for="ProblemsDiagnosis" class="form-control" />
            <span asp-validation-for="ProblemsDiagnosis" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="ManagementFT" class="control-label"></label>
                    <input asp-for="ManagementFT" class="form-control" />
                    <span asp-validation-for="ManagementFT" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="DateVisit12" class="control-label"></label>
                    <input asp-for="DateVisit12" class="form-control" />
                    <span asp-validation-for="DateVisit12" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="submit" value="Save" class="btn btn-bh" />
                            </div>
                            <div class="col-md-3">
                                <a asp-action="Create" class="btn btn-bh">Cancel</a>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
</form>


<div class="row justify-content-center">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    document.getElementById('nname').focus();

    //Q1

    $(document).on("change", "#nQ1", function () {
        if ($(this).val() == '1') {

            $("#nQ1_1").removeClass('collapse');
            $("#nQ1_1").addClass('text-info');
        }
        else {
            $("#nQ1_1").addClass('collapse');
            $("#nQ1_1").removeClass('text-info');

        }
    });

    //Q2

    $(document).on("change", "#nQ2", function () {
        if ($(this).val() == '1') {

            $("#nQ2_1").removeClass('collapse');
            $("#nQ2_1").addClass('text-info');
        }
        else {
            $("#nQ2_1").addClass('collapse');
            $("#nQ2_1").removeClass('text-info');

        }
    });

    //Q3

    $(document).on("change", "#nQ3", function () {
        if ($(this).val() == '1') {

            $("#nQ3_1").removeClass('collapse');
            $("#nQ3_1").addClass('text-info');
        }
        else {
            $("#nQ3_1").addClass('collapse');
            $("#nQ3_1").removeClass('text-info');

        }
    });

    //Q4

    $(document).on("change", "#nQ4", function () {
        if ($(this).val() == '1') {

            $("#nQ4_1").removeClass('collapse');
            $("#nQ4_1").addClass('text-info');
        }
        else {
            $("#nQ4_1").addClass('collapse');
            $("#nQ4_1").removeClass('text-info');

        }
    });

    //Q6

    $(document).on("change", "#nQ6", function () {
        if ($(this).val() == '3') {

            $("#nQ6_1").removeClass('collapse');
            $("#nQ6_1").addClass('text-info');
        }
        else {
            $("#nQ6_1").addClass('collapse');
            $("#nQ6_1").removeClass('text-info');

        }
    });

    //Q7

    $(document).on("change", "#nQ7", function () {
        if ($(this).val() == '4') {

            $("#nQ7_1").removeClass('collapse');
            $("#nQ7_1").addClass('text-info');
        }
        else {
            $("#nQ7_1").addClass('collapse');
            $("#nQ7_1").removeClass('text-info');

        }
    });

    //Q10

    $(document).on("change", "#nQ10", function () {
        if ($(this).val() == '2') {

            $("#nQ10_1").removeClass('collapse');
            $("#nQ10_1").addClass('text-info');
        }
        else {
            $("#nQ10_1").addClass('collapse');
            $("#nQ10_1").removeClass('text-info');

        }
    });

    //Q12

    $(document).on("change", "#nQ12", function () {
        if ($(this).val() == '1') {

            $("#nQ12_1").removeClass('collapse');
            $("#nQ12_1").addClass('text-info');
        }
        else {
            $("#nQ12_1").addClass('collapse');
            $("#nQ12_1").removeClass('text-info');

        }
    });

</script>
}
