@model BHAMCApp.Models.F15_24MAMA

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_BhMama.cshtml";
}

<div class="row text-muted">
    <h5>Form Mama</h5>
</div>
<div class="row">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>
<form asp-action="Create">
    <div class="row text-white justify-content-between jumbodm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12">
            <p class="text-center text-info">FOMU YA MAMA  </p>
        </div>
        <div class="col-md-12">
            <p class="text-center text-info">MWEZI WA  (15-24)  BAADA YA KUJIFUNGUA</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="IDNumber" class="control-label"></label>
                    <input asp-for="IDNumber" class="form-control" id="nname" />
                    <span asp-validation-for="IDNumber" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label asp-for="Q1" class="control-label"></label>
            <select asp-for="Q1" class="form-control" id="nQ1"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q1" class="text-danger"></span>
        </div>
        <div class="col-md-4 collapse" id="nQ1_1">
            <label asp-for="Q1_1" class="control-label"></label>
            <input asp-for="Q1_1" class="form-control" />
            <span asp-validation-for="Q1_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q2" class="control-label"></label>
            <select asp-for="Q2" class="form-control" id="nQ2"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q2" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nQ2_1">
            <label asp-for="Q2_1" class="control-label"></label>
            <input asp-for="Q2_1" class="form-control" />
            <span asp-validation-for="Q2_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q3" class="control-label"></label>
            <select asp-for="Q3" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q3" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q4" class="control-label"></label>
            <select asp-for="Q4" class="form-control" id="nQ4"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q4" class="text-danger"></span>
        </div>
        <div class="col-md-6 collapse" id="nQ4_1">
            <label asp-for="Q4_1" class="control-label"></label>
            <input asp-for="Q4_1" class="form-control" />
            <span asp-validation-for="Q4_1" class="text-danger"></span>
        </div>
        <div class="col-md-6 collapse" id="nQ4_2">
            <label asp-for="Q4_2" class="control-label"></label>
            <input asp-for="Q4_2" class="form-control" />
            <span asp-validation-for="Q4_2" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q5" class="control-label"></label>
            <select asp-for="Q5" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q5" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q6" class="control-label"></label>
            <select asp-for="Q6" class="form-control" id="nQ6"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q6" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nQ6_1">
            <label asp-for="Q6_1" class="control-label"></label>
            <input asp-for="Q6_1" class="form-control" />
            <span asp-validation-for="Q6_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q7" class="control-label"></label>
            <select asp-for="Q7" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q7" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q8" class="control-label"></label>
            <select asp-for="Q8" class="form-control" id="nQ8"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q8" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nQ8_1">
            <label asp-for="Q8_1" class="control-label"></label>
            <input asp-for="Q8_1" class="form-control" />
            <span asp-validation-for="Q8_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q9" class="control-label"></label>
            <select asp-for="Q9" class="form-control"
                    asp-items="Html.GetEnumSelectList<EFMTISA11>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q9" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q10" class="control-label"></label>
            <select asp-for="Q10" class="form-control" id="nQ10"
                    asp-items="Html.GetEnumSelectList<EFMTISA1>()">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="Q10" class="text-danger"></span>
        </div>
        <div class="col-md-3 collapse" id="nQ10_1">
            <label asp-for="Q10_1" class="control-label"></label>
            <input asp-for="Q10_1" class="form-control" />
            <span asp-validation-for="Q10_1" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="Q11" class="control-label"></label>
            <input asp-for="Q11" class="form-control" />
            <span asp-validation-for="Q11" class="text-danger"></span>
        </div>
    </div>
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="submit" value="Save" class="btn btn-bh" />
                            </div>
                            <div class="col-md-3">
                                <a asp-action="Create" class="btn btn-bh">Cancel</a>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
</form>


<div class="row justify-content-center">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    document.getElementById('nname').focus();

    //Q1

    $(document).on("change", "#nQ1", function () {
        if ($(this).val() == '1') {

            $("#nQ1_1").removeClass('collapse');
            $("#nQ1_1").addClass('text-info');
        }
        else {
            $("#nQ1_1").addClass('collapse');
            $("#nQ1_1").removeClass('text-info');

        }
    });

    //Q2

    $(document).on("change", "#nQ2", function () {
        if ($(this).val() == '1') {

            $("#nQ2_1").removeClass('collapse');
            $("#nQ2_1").addClass('text-info');
        }
        else {
            $("#nQ2_1").addClass('collapse');
            $("#nQ2_1").removeClass('text-info');

        }
    });

    //Q3

    $(document).on("change", "#nQ3", function () {
        if ($(this).val() == '1') {

            $("#nQ3_1").removeClass('collapse');
            $("#nQ3_1").addClass('text-info');
        }
        else {
            $("#nQ3_1").addClass('collapse');
            $("#nQ3_1").removeClass('text-info');

        }
    });

    //Q4

    $(document).on("change", "#nQ4", function () {
        if ($(this).val() == '1') {

            $("#nQ4_1").removeClass('collapse');
            $("#nQ4_1").addClass('text-info');

            $("#nQ4_2").removeClass('collapse');
            $("#nQ4_2").addClass('text-info')
        }
        else {
            $("#nQ4_1").addClass('collapse');
            $("#nQ4_1").removeClass('text-info');

            $("#nQ4_2").addClass('collapse');
            $("#nQ4_2").removeClass('text-info');

        }
    });

    //Q6

    $(document).on("change", "#nQ6", function () {
        if ($(this).val() == '1') {

            $("#nQ6_1").removeClass('collapse');
            $("#nQ6_1").addClass('text-info');
    }
        else {
            $("#nQ6_1").addClass('collapse');
            $("#nQ6_1").removeClass('text-info');
    }
    });


    //Q8

    $(document).on("change", "#nQ8", function () {
        if ($(this).val() == '1') {

            $("#nQ8_1").removeClass('collapse');
            $("#nQ8_1").addClass('text-info');
        }
        else {
            $("#nQ8_1").addClass('collapse');
            $("#nQ8_1").removeClass('text-info');

        }
    });

    //Q9

    $(document).on("change", "#nQ9", function () {
        if ($(this).val() == '2') {

            $("#nQ9_1").removeClass('collapse');
            $("#nQ9_1").addClass('text-info');
        }
        else {
            $("#nQ9_1").addClass('collapse');
            $("#nQ9_1").removeClass('text-info');

        }
    });

    //Q10

    $(document).on("change", "#nQ10", function () {
        if ($(this).val() == '1') {

            $("#nQ10_1").removeClass('collapse');
            $("#nQ10_1").addClass('text-info');
        }
        else {
            $("#nQ10_1").addClass('collapse');
            $("#nQ10_1").removeClass('text-info');

        }
    });

</script>
}
